FORMAT: 1A
HOST: https://api.droibaas.com

# SpeedTest API

SpeedTest API 任务下发及获取结果.

# Group Token

## 取得Session Token [/rest/users/v2/login]

### Get a Session Token [POST]

取得Session Token，用在之后的操作

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            
    + Body
    
            {
                "UserId": "restful_api_test",
                "Password": "464c7a646393b68d1a42076c010b5aae418d8d322f233ca0b8cd8e2c6bcd9676",
                "Type": "general"
            }
            
+ Response 200 (application/json)

    + Attributes (Response Base)
    
        + Result (required, object)
            + Data (required, object)
                + Email: droi@droi.com (optional, string)
                + EmailVerified: false (optional, boolean)
                + Enabled: true (required, boolean)
                + IsTrail:0 (required, number)
                + PhoneNum: 123 (optional, string)
                + PhoneNumVerified: false (optional, boolean)
                + UserId: MyTestUser (required, string)
                + _ACL (required, object)
                    + creator: 194444d79ebc1211d0900774 (required, string)
                    + pr: true (required, boolean)
                    + pw: true (required, boolean)
                + _ClassName: DroiUser (required, string)
                + _CreationTime: `2017-03-16T01:54:05.487Z` (required, string)
                + _Id: 194444d79ebc1211d0900774 (required, string)
                + _ModifiedTime: `2017-03-16T01:54:05.487Z` (required, string)
            + ExpiredAt: `2017-04-15T01:54:05.513Z` (required, string)
            + Token: fbc751dc6a96ca47 (required, string) - SessionToken

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Error Base)

+ Response 200 (application/json; charset=utf)

    + Attributes (Response Error Base)

# Group 创建任务

## 任务下发 [/api/v2/speedtest/v1/st]

### Create New SpeedTest Tasks [POST]

新增多个任务给Server

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
    + Attributes (object)
        + Task (required, array[SpeedTest HTTP Base, SpeedTest HTTPS Base, SpeedTest DNS Base, SpeedTest PING Base, SpeedTest TRACEROUTE Base])
        
+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, object)
            + Task (required, array)
                + 5aa6146d9b53e6302000313e (required, string)
                + 5aa6146d9b53e6302000313f (required, string)
                + 5aa6146d9b53e63020003140 (required, string)
                + 5aa6146d9b53e63020003141 (required, string)
                + 5aa6146d9b53e63020003142 (required, string)

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

# Group 查询任务

## 查询任务状态 [/api/v2/speedtest/v1/st{?LastToken}]    
            
### List All SpeedTest Tasks [GET]

取得所有的任务清单及查询任务状态.

+ Parameters

    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    
+ Request (application/json)
    
    + Headers
    
            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, object)
            + Task (required, array[Status HTTP Base, Status HTTPS Base, Status DNS Base, Status PING Base, Status TRACEROUTE Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
            
## 查询单一任务状态 [/api/v2/speedtest/v1/st{?TaskID}]

### View a Task Detail [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e6302000313e (required, string) - 任务辨别码

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Response Base)
    
        + Result (required, Status HTTP Base)

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)         

# Group 停止任务

## 停止任务 [/api/v2/speedtest/v1/st/stop]

### Stop a Task [POST]

停止已派发的任务

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
    + Attributes (object)
        + TaskID: 598bc7002cb2fe00930000ca (required, string)
        
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Response Base)
        + Result (required, object)

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
# Group 任务统计结果

## 取得HTTP任务统计结果 [/api/v2/speedtest/v1/st/result{?TaskID}{?HTTP}]
    
### get a SpeedTest Task result (HTTP) [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e6302000313e (required, string) - 任务辨别码
    + HTTP (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Result HTTP Base)
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

## 取得HTTPS任务统计结果 [/api/v2/speedtest/v1/st/result{?TaskID}{?HTTPS}]    

### get a SpeedTest Task result (HTTPS) [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e6302000313f (required, string) - 任务辨别码
    + HTTPS (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Result HTTPS Base)
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

## 取得DNS任务统计结果 [/api/v2/speedtest/v1/st/result{?TaskID}{?DNS}] 

### get a SpeedTest Task result (DNS) [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e63020003140 (required, string) - 任务辨别码
    + DNS (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Result DNS Base)
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

## 取得PING任务统计结果 [/api/v2/speedtest/v1/st/result{?TaskID}{?PING}] 

### get a SpeedTest Task result (PING) [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e63020003141 (required, string) - 任务辨别码
    + PING (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Result PING Base)
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
## 取得TRACEROUTE任务统计结果 [/api/v2/speedtest/v1/st/result{?TaskID}{?TRACEROUTE}] 

### get a SpeedTest Task result (TRACEROUTE) [GET]

+ Parameters

    + TaskID: 5aa6146d9b53e63020003142 (required, string) - 任务辨别码
    + TRACEROUTE (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Result TRACEROUTE Base)
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

# Group 任务详细结果

## 取得HTTP任务详细结果 [/api/v2/speedtest/v1/st/raw{?TaskID}{?LastToken}{?HTTP}]
    
### get raw data of Task (HTTP) [GET]

+ Parameters

    + TaskID:5aa6146d9b53e6302000313e (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + HTTP (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status HTTP Base)
            + Raw (required, array[Raw HTTP Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
## 取得HTTPS任务详细结果 [/api/v2/speedtest/v1/st/raw{?TaskID}{?LastToken}{?HTTPS}]
    
### get raw data of Task (HTTPS) [GET]

+ Parameters

    + TaskID:5aa6146d9b53e6302000313f (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + HTTPS (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status HTTPS Base)
            + Raw (required, array[Raw HTTPS Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
## 取得DNS任务详细结果 [/api/v2/speedtest/v1/st/raw{?TaskID}{?LastToken}{?DNS}]
    
### get raw data of Task (DNS) [GET]

+ Parameters

    + TaskID:5aa6146d9b53e63020003140 (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + DNS (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status DNS Base)
            + Raw (required, array[Raw DNS Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

## 取得PING任务详细结果 [/api/v2/speedtest/v1/st/raw{?TaskID}{?LastToken}{?PING}]
    
### get raw data of Task (PING) [GET]

+ Parameters

    + TaskID:5aa6146d9b53e63020003141 (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + PING (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status PING Base)
            + Raw (required, array[Raw PING Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
## 取得TRACEROUTE任务详细结果 [/api/v2/speedtest/v1/st/raw{?TaskID}{?LastToken}{?TRACEROUTE}]
    
### get raw data of Task (TRACEROUTE) [GET]

+ Parameters

    + TaskID:5aa6146d9b53e63020003142 (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + TRACEROUTE (optional, string) - 不用带上
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status TRACEROUTE Base)
            + Raw (required, array[Raw TRACEROUTE Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

# Group 活跃使用者数

## 取得活跃使用者数 [/api/v2/speedtest/v1/st/users{?Carrier}{?Country_City}{?Network}{?LastToken}]
    
### get the number of active clients [GET]

+ Parameters

    + Carrier (optional,number)
    + Country_City (optional,number)
    + Network (optional,number)
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料 
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Response Base)
    
        + Result (required, object)
            + Users (required, array[Sample Base])
            + LastToken: 59b8db6eeff465001a000192 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

# Group 创建长时任务

## 长时任务下发 [/api/v2/speedtest/v1/lst]

### Create a Long-Term Task [POST]

新增一个长时任务给Server

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
    + Attributes (object)
        
        + LongTermTask (required, LongTerm Base)
        
+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, object)
            + LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 長時任务辨别码

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
# Group 查詢長時任务

## 查询長時任务状态 [/api/v2/speedtest/v1/lst{?LastToken}]    
            
### List All LongTerm Tasks [GET]

取得所有的長時任务清单及查询長任务状态.

+ Parameters

    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    
+ Request (application/json)
    
    + Headers
    
            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, object)
            + LongTermTask (required, array[Status LongTerm Base])
            + LastToken: 5aa9ccae6a1ec42f67001610 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
            
## 查询单一長時任务状态 [/api/v2/speedtest/v1/lst{?LTaskID}]

### View a LongTerm Task Detail [GET]

+ Parameters

    + LTaskID: 5aa9ccae6a1ec42f67001610 (required, string) - 長時任务辨别码

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Response Base)
    
        + Result (required, Status LongTerm Base)

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)  

# Group 停止長時任务

## 停止長時任务 [/api/v2/speedtest/v1/lst/stop]

### Stop a LongTerm Task [POST]

停止已派发的長時任务

+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46
            
    + Attributes (object)
        + LTaskID: 5aa9ccae6a1ec42f67001610 (required, string)
        
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Response Base)
        + Result (required, object)

+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)

# Group 長時任务详细结果

## 取得長時任务详细结果 [/api/v2/speedtest/v1/lst/raw{?LTaskID}{?LastToken}{?Start}{?End}{?Type}]
    
### get raw data of LongTerm Task [GET]

+ Parameters

    + LTaskID: 5aa9ccae6a1ec42f67001610 (required,string) - 任务辨别码
    + LastToken (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料
    + Start: 1520583602 (optional, number) - 查詢晚於Start創建的長時任務,UTC
    + End: 1520584602 (optional, number) - 查詢早於End創建的長時任務,UTC
    + Type (optional, string) - 限定回傳的測試類別
        - Members
            - HTTP
            - HTTPS
            - DNS
            - PING
            - TRACEROUTE
    
+ Request (application/json)

    + Headers

            X-Droi-AppID: 85kvmbzhq2gdJIXW5iNhM1CLD5CJ1Ua1lQC0hBwA
            X-Droi-Api-Key: nz-pvPNyKKMCufYgefFzas5LPhIZuKttV93lCxp2BBOaI8TK3_4ayOukxjYU56s2
            X-Droi-Session-Token: c23d2300089f3c46

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Response Base)
    
        + Result (required, Status LongTerm Base)
            + Raw (required, array[])
                - default: HTTP
                - Members
                    - HTTP (Result HTTP Base)
                    - HTTPS (Result HTTPS Base)
                    - DNS (Result DNS Base)
                    - PING (Result PING Base)
                    - TRACEROUTE (Result TRACEROUTE Base)
            + LastToken: 5aa9ccae6a1ec42f67001610 (optional, string) - 查询更后面的资料时，带入可查询此ID之后的资料。沒有代表沒資料了
 
+ Response 200 (application/json; charset=utf)

    + Attributes (Error Base)

+ Response 200 (application/json)

    + Attributes (Response Error Base)
    
# Data Structures

## LongTerm Base (object)
+ Tasks (required, array[enum]) - 選擇長時任務要包含那些測試項目
    - Members
        - HTTP (SpeedTest HTTP Base)
        - HTTPS (SpeedTest HTTPS Base)
        - DNS (SpeedTest DNS Base)
        - PING (SpeedTest PING Base)
        - TRACEROUTE (SpeedTest TRACEROUTE Base)
+ Period (required, object)
    + Start: 1520583602 (required, number) - 任務開始時間,UTC
    + End: 1520584602 (required, number) - 任務結束時間,UTC
    + Interval: 1200 (required, number) - 任務執行週期,秒

## SpeedTest HTTP Base (object)
+ Type: HTTP (required, string)   
+ URL: `http://c6mvmbzh-sand.droibaascdn.com/droi/c6mvmbzhyOLweq6q4Z3v11GX1Q0-22uRlQAA0Pse/866894446795558912/apm_100B.txt` (required, string) - URL
+ Size: 100 (optional, number) - 下载档案只会取size长度的部份，没此栏位会完整抓取
+ MD5: 36a92cc94a9e0fa21f625f8bfb007adf (optional, string) - 档案下载部份的MD5检查码   
+ Headers (required, object) - 填加自定义header头域
    - Key1: Value1 (optional, string) -- 自定义Key及Value
+ Restriction (required, Restriction Base) - 加入限制条件

## SpeedTest HTTPS Base (object)
+ Type: HTTPS (required, string)   
+ URL: `https://c6mvmbzh-sand.droibaascdn.com/droi/c6mvmbzhyOLweq6q4Z3v11GX1Q0-22uRlQAA0Pse/866894446795558912/apm_100B.txt` (required, string) - URL
+ Size: 100 (optional, number) - 下载档案的大小
+ MD5: 36a92cc94a9e0fa21f625f8bfb007adf (optional, string) - 下载档案的MD5检查码   
+ Headers (required, object) - 填加自定义header头域
    - Key1: Value1 (optional, string) -- 自定义Key及Value
+ Restriction (required, Restriction Base) - 加入限制条件

## SpeedTest DNS Base (object)
+ Type: DNS (required, string)
+ Host: www.amazon.com (required, string) - IP or Domain name
+ DNSSerIP:168.95.1.1 (optional, string) - 可指定dns server
+ Restriction (required, Restriction Base) - 加入限制条件

## SpeedTest PING Base (object)
+ Type: PING (required, string)
+ Host: www.hinet.net (required, string) - IP or Domain name
+ Restriction (required, Restriction Base) - 加入限制条件

## SpeedTest TRACEROUTE Base (object)
+ Type: TRACEROUTE (required, string)
+ Host: www.hinet.net (required, string) - IP or Domain name
+ Restriction (required, Restriction Base) - 加入限制条件


## Status Base (object)
+ Status: 2 (required, number) - -2:Stopped, 0:Waiting, 1:OnGoing, 2:Finished
+ Description: Finished (required, enum)
    - default: Finished
    - Members
        - Stopped
        - Waiting
        - OnGoing
        - Finished

## Status LongTerm Base (Status Base)
+ LTaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 長時任务创建的时间
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 長時任务辨别码
+ LSpeedTest (required, LongTerm Base) - 创建長時任务的设定

## Status HTTP Base (Status Base)
+ TaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 任务创建的时间
+ TaskID:5aa6146d9b53e6302000313e (required, string) - 任务辨别码
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 關聯的長時任務的長時任务辨别码，若沒關聯則為空字串
+ SpeedTest (required, SpeedTest HTTP Base) - 创建任务的设定

## Status HTTPS Base (Status Base)
+ TaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 任务创建的时间
+ TaskID:5aa6146d9b53e6302000313f (required, string) - 任务辨别码
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 關聯的長時任務的長時任务辨别码，若沒關聯則為空字串
+ SpeedTest (required, SpeedTest HTTPS Base) - 创建任务的设定

## Status DNS Base (Status Base)
+ TaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 任务创建的时间
+ TaskID:5aa6146d9b53e63020003140 (required, string) - 任务辨别码
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 關聯的長時任務的長時任务辨别码，若沒關聯則為空字串
+ SpeedTest (required, SpeedTest DNS Base) - 创建任务的设定

## Status PING Base (Status Base)
+ TaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 任务创建的时间
+ TaskID:5aa6146d9b53e63020003141 (required, string) - 任务辨别码
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 關聯的長時任務的長時任务辨别码，若沒關聯則為空字串
+ SpeedTest (required, SpeedTest PING Base) - 创建任务的设定

## Status TRACEROUTE Base (Status Base)
+ TaskCreationTime:`2018-02-21T02:21:08.530Z` (required, string) - 任务创建的时间
+ TaskID:5aa6146d9b53e63020003142 (required, string) - 任务辨别码
+ LTaskID:5aa9ccae6a1ec42f67001610 (required, string) - 關聯的長時任務的長時任务辨别码，若沒關聯則為空字串
+ SpeedTest (required, SpeedTest TRACEROUTE Base) - 创建任务的设定


## Time HTTP Base (object)
+ DNS:1 (required, number) - DNS解析时间(Client可能有cache)
+ R:0 (required, number) - 重定向时间  
+ Connect:185 (required, number) - 建联时间 
+ Req:0 (required, number) - 内容上传时间   
+ TTFB:1196 (required, number) - 首包时间
+ Res:6 (required, number) - 内容下载时间
+ RTT:1202 (required, number) - 总下载时间

## Time HTTPS Base (object)
+ DNS:1 (required, number) - DNS解析时间(Client可能有cache)
+ R:0 (required, number) - 重定向时间  
+ Connect:185 (required, number) - 建联时间   
+ SSL:607 (required, number) - ssl握手时间
+ Req:0 (required, number) - 内容上传时间   
+ TTFB:589 (required, number) - 首包时间
+ Res:6 (required, number) - 内容下载时间
+ RTT:595 (required, number) - 总下载时间

## Time DNS Base (object)
+ DNS:5 (required, number) - DNS解析时间(Client不會cache)

## Time PING Base (object)
+ DNS:5 (required, number) - DNS解析时间(Client可能有cache)
+ RTT:595 (required, number) - 总下载时间

## Time TRACEROUTE Base (object)
+ DNS:5 (required, number) - DNS解析时间(Client可能有cache)
+ RTT (array[Node1 Base, Node2 Base, Node3 Base, Node4 Base]) - TRACEROUTE解析资料

## Ans Record1 Base (object)
+ Name:www.amazon.com. (required, string) - 查询的FQDN
+ Type:CNAME (required, string) - RData栏位内的资料意义 
+ Class:IN (required, string) - RData栏位内的资料等级
+ TTL:1573 (required, number) - 保留在DNS伺服器快取中的时间   
+ RData:www.cdn.amazon.com. (required, string) - 存放查询的结果，通常是存放IP位址或FQDN

## Ans Record2 Base (object)
+ Name:www.cdn.amazon.com. (required, string) - 查询的FQDN
+ Type:CNAME (required, string) - RData栏位内的资料意义 
+ Class:IN (required, string) - RData栏位内的资料等级
+ TTL:132 (required, number) - 保留在DNS伺服器快取中的时间   
+ RData:d3ag4hukkh62yn.cloudfront.net. (required, string) - 存放查询的结果，通常是存放IP位址或FQDN

## Ans Record3 Base (object)
+ Name:d3ag4hukkh62yn.cloudfront.net. (required, string) - 查询的FQDN
+ Type:A (required, string) - RData栏位内的资料意义 
+ Class:IN (required, string) - RData栏位内的资料等级
+ TTL:1573 (required, number) - 保留在DNS伺服器快取中的时间   
+ RData:54.239.176.100 (required, string) - 存放查询的结果，通常是存放IP位址或FQDN
 

## Statistics Base (object)
+ Max:1234 (required, number) - 最大值
+ Min:20 (required, number) - 最小值
+ Avg:250 (required, number) - 平均值
+ Count:31 (required, number) - 有效样本数    
  

## Node1 Base (object)
+ IP:10.128.83.284 (optional, string)
+ RTT:712 (optional, number)

## Node2 Base (object)
+ IP:10.128.101.2 (optional, string)
+ RTT:449 (optional, number)

## Node3 Base (object)
+ IP:61.216.24.254 (optional, string)
+ RTT:2364 (optional, number)

## Node4 Base (object)
+ IP:210.71.222.164 (required, string)
+ RTT:2559 (required, number)


## Result HTTP Base (Status HTTP Base)
+ Result (required, object)
    + IP:111.23.45.67 (required, string)
    + HttpStatus (required, object)
        + 200: 123 (optional, number) - HTTP status code '200' 的数量
        + 404: 1 (optional, number) - HTTP status code '404' 的数量
    + ClientStatus (required, object)
        + 0: 1 (optional, number) - Client status code '0' 的数量
    + Availability (required, object)
        + Success: 123 (required, number) - 成功完成任务的数量
        + Failure: 1 (required, number) - 任务失败的数量
    + Time (required, object)
        + DNS (Statistics Base)
        + R (Statistics Base)
        + Connect (Statistics Base)
        + Req (Statistics Base)
        + TTFB (Statistics Base)
        + Res (Statistics Base)
        + RTT (Statistics Base)

## Result HTTPS Base (Status HTTPS Base)
+ Result (required, object)
    + IP:111.23.45.67 (required, string)
    + HttpStatus (required, object)
        + 200: 123 (optional, number) - HTTP status code '200' 的数量
        + 404: 1 (optional, number) - HTTP status code '404' 的数量
    + ClientStatus (required, object)
        + 0: 1 (optional, number) - Client status code '0' 的数量
    + Availability (required, object)
        + Success: 123 (required, number) - 成功完成任务的数量
        + Failure: 1 (required, number) - 任务失败的数量
    + Time (required, object)
        + DNS (Statistics Base)
        + R (Statistics Base)
        + Connect (Statistics Base)
        + SSL (Statistics Base)
        + Req (Statistics Base)
        + TTFB (Statistics Base)
        + Res (Statistics Base)
        + RTT (Statistics Base)

## Result DNS Base (Status DNS Base)
+ Result (required, object)
    + IP:111.23.45.67 (required, string)
    + ClientStatus (required, object)
        + 0: 1 (optional, number) - Client status code '0' 的数量
    + Availability (required, object)
        + Success: 1 (required, number) - 成功完成任务的数量
        + Failure: 0 (required, number) - 任务失败的数量
    + Time (required, object)
        + DNS (Statistics Base)
    + Ans (array[Ans Record1 Base, Ans Record2 Base, Ans Record3 Base])
    
## Result PING Base (Status PING Base)
+ Result (required, object)
    + IP:210.71.222.164 (required, string)
    + ClientStatus (required, object)
        + 0: 1 (optional, number) - Client status code '0' 的数量   
    + Availability (required, object)
        + Success: 1 (required, number) - 成功完成任务的数量
        + Failure: 0 (required, number) - 任务失败的数量
    + Time (required, object)
        + DNS (Statistics Base)
        + RTT (Statistics Base)
    
## Result TRACEROUTE Base (Status TRACEROUTE Base)
+ Result (required, object)
    + IP:210.71.222.164 (required, string)
    + ClientStatus (required, object)
        + 0: 1 (optional, number) - Client status code '0' 的数量
    + Availability (required, object)
        + Success: 1 (required, number) - 成功完成任务的数量
        + Failure: 0 (required, number) - 任务失败的数量
    + Time (required, object)
        + DNS (Statistics Base)
    + RTT (array[Node1 Base, Node2 Base, Node3 Base, Node4 Base])

## Raw Base (object)
+ IP:111.23.45.67 (required, string) - Server's IP or Resolved IP
+ ClientIP:1.2.3.4 (required, string) - Client's IP
+ R (required, number) - Client status code

## Raw HTTP Base (Raw Base)
+ _Id:5aa6146d9b53e6302000313e (required, string) - ID of Raw data, 可用来查询更之后的资料
+ HttpStatus:200 (required, number) - HTTP status code
+ ClientStatus: 0 (required, number) - Client status code
+ Time (required, Time HTTP Base)

## Raw HTTPS Base (Raw Base)
+ _Id:5aa6146d9b53e6302000313f (required, string) - ID of Raw data, 可用来查询更之后的资料
+ HttpStatus:200 (required, number) - HTTP status code 
+ ClientStatus: 0 (required, number) - Client status code
+ Time (required, Time HTTPS Base)

## Raw DNS Base (Raw Base)
+ _Id:5aa6146d9b53e63020003140 (required, string) - ID of Raw data, 可用来查询更之后的资料
+ ClientStatus: 0 (required, number) - Client status code
+ Time (required, Time DNS Base)
+ ANS (required, array[Ans Record1 Base, Ans Record2 Base, Ans Record3 Base]) - DNS解析资料

## Raw PING Base (Raw Base)
+ _Id:5aa6146d9b53e63020003141 (required, string) - ID of Raw data, 可用来查询更之后的资料
+ ClientStatus: 0 (required, number) - Client status code
+ Time (required, Time PING Base)

## Raw TRACEROUTE Base (Raw Base)
+ _Id:5aa6146d9b53e63020003142 (required, string) - ID of Raw data, 可用来查询更之后的资料
+ ClientStatus: 0 (required, number) - Client status code
+ Time (required, Time TRACEROUTE Base)

## Sample Base (object)
+ Carrier:0 (required, number) - 指定营运商代码. 0:中国电信. 1:中国移动. 2:中国联通.
+ Country_City:0 (required, number) - 省份与城市.
+ Network:1 (required, number) - 指定网路类别.
+ Client:1 (required,number) - 建议取样的客户端数量。
    
## Error Base (object)

+ Code: 0 (required, number)
+ Result (required, object)
    + ErrorCode:1410002 (required, number)
        错误码.
        1410001:内部错误，请洽开发人员.
        1410002:权限不足.
        1410003:TaskID不存在.
        1410004:NextToken错误.
        1410005:SessionToken错误.
        1410006:JSON错误.
        1410007:Type错误.
        1410008:URL错误.
        1410009:Host错误.
        1410010:限制条件错误.
        1410011:营运商代码错误.
        1410012:省份代码错
        1410013:网路类别错误.
        1410014:指定超时时长错误.10~120s，预设值60s
        1410015:取样客户端数量错误.预设每项1个，上限10个
        1410016:项目数量过多, 最多50组
        1410017:使用者不存在.
        1410018:密码错误.
        1410019:创建任务间隔太近.目前设定间隔一分钟
        1410020:缺少TaskID. 
        1410021:Size错误.目前上限设1,048,576(1MB)
        1410022:MD5错误
        1410023:Task已经完成了
        1410024:Task已经停止了
        1410025:Task已经过期了
        1410026:网路类别错误，只开放Wifi测试
        1410027:测试配额不足
        1410101:LTaskID不存在.
        1410102:缺少LTaskID.
        1410103:长时任务已经完成了
        1410104:长时任务已经停止了
        1410105:长时任务已经过期了
        1410106:Start错误
        1410107:End错误
        1410108:End不晚于Start
        1410109:长时任务内的任务组合错误，目前可用组合:{HTTP+DNS, HTTPS+DNS}
        1410110:缺少Period
        1410111:缺少Start
        1410112:缺少End
        1410113:缺少Interval
        1410114:Interval错误
        1410115:缺少LongTermTask
        1410116:缺少Tasks
        1410117:LongTermTask错误
        1410118:Tasks错误
        1410119:Interval过短，最小限制5分钟，Interval需为5分钟的倍数
        1410120:Interval过长，最大限制1天，Interval需为5分钟的倍数
        1410121:Interval需为5分钟的倍数
    
    + MSG:权限不足 (required, string) - 错误讯息

## Response Base (object)

+ Code:0 (required, number)   

## Response Error Base (object)

+ Code: 1040009 (required, number) - 错误代码，请通知工程师
+ Message: User has NOT signg up yet: not found (required, string) - 错误讯息，请通知工程师
+ Ticket: 1498703462958T2099126114 (required, string) - 错误工单号，请通知工程师    

## Restriction Base (object)
+ Carrier:0 (optional, number) - 指定营运商代码. 0:中国电信. 1:中国移动. 2:中国联通.

+ Network:1 (optional, number)

    指定网路类别.
    1:Wifi.
    2:2G.
    3:3G.
    4:4G.
        
+ Timeout:60 (number)

    指定超时时长，范围10~120s，预设值60s
    
+ Client:1 (number)

    指定取样的客户端数量上限,每项上限10组。或建议取样的客户端数量。
    
+ Country_City:1 (optional, number)

    指定省份与城市.
    1:上海-上海
    2:云南
    3:云南-临沧
    4:云南-丽江
    5:云南-保山
    6:云南-大理白族自治州
    7:云南-德宏傣族景颇族自治州
    8:云南-怒江傈僳族自治州
    9:云南-文山壮族苗族自治州
    10:云南-昆明
    11:云南-昭通
    12:云南-普洱
    13:云南-曲靖
    14:云南-楚雄彝族自治州
    15:云南-玉溪
    16:云南-红河哈尼族彝族自治州
    17:云南-西双版纳傣族自治州
    18:云南-迪庆藏族自治州
    19:内蒙古
    20:内蒙古-乌兰察布
    21:内蒙古-乌海
    22:内蒙古-兴安盟
    23:内蒙古-包头
    24:内蒙古-呼伦贝尔
    25:内蒙古-呼和浩特
    26:内蒙古-巴彦淖尔
    27:内蒙古-赤峰
    28:内蒙古-通辽
    29:内蒙古-鄂尔多斯
    30:内蒙古-锡林郭勒盟
    31:内蒙古-阿拉善盟
    32:北京-北京
    33:台湾
    34:台湾-台中市
    35:台湾-台北市
    36:台湾-台南市
    37:台湾-屏东县
    38:台湾-彰化县
    39:台湾-新北市
    40:台湾-桃园市
    41:台湾-苗栗县
    42:台湾-高雄市
    43:吉林
    44:吉林-吉林市
    45:吉林-四平
    46:吉林-延边朝鲜族自治州
    47:吉林-松原
    48:吉林-白城
    49:吉林-白山
    50:吉林-辽源
    51:吉林-通化
    52:吉林-长春
    53:四川
    54:四川-乐山
    55:四川-内江
    56:四川-凉山彝族自治州
    57:四川-南充
    58:四川-宜宾
    59:四川-巴中
    60:四川-广元
    61:四川-广安
    62:四川-德阳
    63:四川-成都
    64:四川-攀枝花
    65:四川-泸州
    66:四川-甘孜藏族自治州
    67:四川-眉山
    68:四川-绵阳
    69:四川-自贡
    70:四川-资阳
    71:四川-达州
    72:四川-遂宁
    73:四川-阿坝藏族羌族自治州
    74:四川-雅安
    75:天津-天津
    76:宁夏
    77:宁夏-中卫
    78:宁夏-吴忠
    79:宁夏-固原
    80:宁夏-石嘴山
    81:宁夏-银川
    82:安徽
    83:安徽-亳州
    84:安徽-六安
    85:安徽-合肥
    86:安徽-安庆
    87:安徽-宣城
    88:安徽-宿州
    89:安徽-池州
    90:安徽-淮北
    91:安徽-淮南
    92:安徽-滁州
    93:安徽-芜湖
    94:安徽-蚌埠
    95:安徽-铜陵
    96:安徽-阜阳
    97:安徽-马鞍山
    98:安徽-黄山
    99:山东
    100:山东-东营
    101:山东-临沂
    102:山东-威海
    103:山东-德州
    104:山东-日照
    105:山东-枣庄
    106:山东-泰安
    107:山东-济南
    108:山东-济宁
    109:山东-淄博
    110:山东-滨州
    111:山东-潍坊
    112:山东-烟台
    113:山东-聊城
    114:山东-莱芜
    115:山东-菏泽
    116:山东-青岛
    117:山西
    118:山西-临汾
    119:山西-吕梁
    120:山西-大同
    121:山西-太原
    122:山西-忻州
    123:山西-晋中
    124:山西-晋城
    125:山西-朔州
    126:山西-运城
    127:山西-长治
    128:山西-阳泉
    129:广东
    130:广东-东莞
    131:广东-中山
    132:广东-云浮
    133:广东-佛山
    134:广东-广州
    135:广东-惠州
    136:广东-揭阳
    137:广东-梅州
    138:广东-汕头
    139:广东-汕尾
    140:广东-江门
    141:广东-河源
    142:广东-深圳
    143:广东-清远
    144:广东-湛江
    145:广东-潮州
    146:广东-珠海
    147:广东-肇庆
    148:广东-茂名
    149:广东-阳江
    150:广东-韶关
    151:广西
    152:广西-北海
    153:广西-南宁
    154:广西-崇左
    155:广西-来宾
    156:广西-柳州
    157:广西-桂林
    158:广西-梧州
    159:广西-河池
    160:广西-玉林
    161:广西-百色
    162:广西-贵港
    163:广西-贺州
    164:广西-钦州
    165:广西-防城港
    166:新疆
    167:新疆-乌鲁木齐
    168:新疆-伊犁哈萨克自治州
    169:新疆-克孜勒苏柯尔克孜自治州
    170:新疆-克拉玛依
    171:新疆-博尔塔拉蒙古自治州
    172:新疆-吐鲁番
    173:新疆-和田地区
    174:新疆-哈密
    175:新疆-喀什地区
    176:新疆-塔城地区
    177:新疆-巴音郭楞蒙古自治州
    178:新疆-昌吉回族自治州
    179:新疆-石河子
    180:新疆-阿克苏地区
    181:新疆-阿勒泰地区
    182:江苏
    183:江苏-南京
    184:江苏-南通
    185:江苏-宿迁
    186:江苏-常州
    187:江苏-徐州
    188:江苏-扬州
    189:江苏-无锡
    190:江苏-泰州
    191:江苏-淮安
    192:江苏-盐城
    193:江苏-苏州
    194:江苏-连云港
    195:江苏-镇江
    196:江西
    197:江西-上饶
    198:江西-九江
    199:江西-南昌
    200:江西-吉安
    201:江西-宜春
    202:江西-抚州
    203:江西-新余
    204:江西-景德镇
    205:江西-萍乡
    206:江西-赣州
    207:江西-鹰潭
    208:河北
    209:河北-保定
    210:河北-唐山
    211:河北-廊坊
    212:河北-张家口
    213:河北-承德
    214:河北-沧州
    215:河北-石家庄
    216:河北-秦皇岛
    217:河北-衡水
    218:河北-邢台
    219:河北-邯郸
    220:河南
    221:河南-三门峡
    222:河南-信阳
    223:河南-南阳
    224:河南-周口
    225:河南-商丘
    226:河南-安阳
    227:河南-平顶山
    228:河南-开封
    229:河南-新乡
    230:河南-洛阳
    231:河南-济源
    232:河南-漯河
    233:河南-濮阳
    234:河南-焦作
    235:河南-许昌
    236:河南-郑州
    237:河南-驻马店
    238:河南-鹤壁
    239:浙江
    240:浙江-丽水
    241:浙江-台州
    242:浙江-嘉兴
    243:浙江-宁波
    244:浙江-杭州
    245:浙江-温州
    246:浙江-湖州
    247:浙江-绍兴
    248:浙江-舟山
    249:浙江-衢州
    250:浙江-金华
    251:海南
    252:海南-万宁
    253:海南-三亚
    254:海南-东方
    255:海南-临高县
    256:海南-乐东黎族自治县
    257:海南-五指山
    258:海南-保亭黎族苗族自治县
    259:海南-儋州
    260:海南-定安县
    261:海南-屯昌县
    262:海南-文昌
    263:海南-昌江黎族自治县
    264:海南-海口
    265:海南-澄迈县
    266:海南-琼中黎族苗族自治县
    267:海南-琼海
    268:海南-白沙黎族自治县
    269:海南-陵水黎族自治县
    270:湖北
    271:湖北-仙桃
    272:湖北-十堰
    273:湖北-咸宁
    274:湖北-天门
    275:湖北-孝感
    276:湖北-宜昌
    277:湖北-恩施土家族苗族自治州
    278:湖北-武汉
    279:湖北-潜江
    280:湖北-神农架林区
    281:湖北-荆州
    282:湖北-荆门
    283:湖北-襄阳
    284:湖北-鄂州
    285:湖北-随州
    286:湖北-黄冈
    287:湖北-黄石
    288:湖南
    289:湖南-娄底
    290:湖南-岳阳
    291:湖南-常德
    292:湖南-张家界
    293:湖南-怀化
    294:湖南-株洲
    295:湖南-永州
    296:湖南-湘潭
    297:湖南-湘西土家族苗族自治州
    298:湖南-益阳
    299:湖南-衡阳
    300:湖南-邵阳
    301:湖南-郴州
    302:湖南-长沙
    303:澳门
    304:甘肃
    305:甘肃-临夏回族自治州
    306:甘肃-兰州
    307:甘肃-嘉峪关
    308:甘肃-天水
    309:甘肃-定西
    310:甘肃-平凉
    311:甘肃-庆阳
    312:甘肃-张掖
    313:甘肃-武威
    314:甘肃-甘南藏族自治州
    315:甘肃-白银
    316:甘肃-酒泉
    317:甘肃-金昌
    318:甘肃-陇南
    319:福建
    320:福建-三明
    321:福建-南平
    322:福建-厦门
    323:福建-宁德
    324:福建-泉州
    325:福建-漳州
    326:福建-福州
    327:福建-莆田
    328:福建-龙岩
    329:西藏
    330:西藏-山南
    331:西藏-拉萨
    332:西藏-日喀则
    333:西藏-昌都
    334:西藏-林芝
    335:西藏-那曲地区
    336:西藏-阿里地区
    337:贵州
    338:贵州-六盘水
    339:贵州-安顺
    340:贵州-毕节
    341:贵州-贵阳
    342:贵州-遵义
    343:贵州-铜仁
    344:贵州-黔东南苗族侗族自治州
    345:贵州-黔南布依族苗族自治州
    346:贵州-黔西南布依族苗族自治州
    347:辽宁
    348:辽宁-丹东
    349:辽宁-大连
    350:辽宁-抚顺
    351:辽宁-朝阳
    352:辽宁-本溪
    353:辽宁-沈阳
    354:辽宁-盘锦
    355:辽宁-营口
    356:辽宁-葫芦岛
    357:辽宁-辽阳
    358:辽宁-铁岭
    359:辽宁-锦州
    360:辽宁-阜新
    361:辽宁-鞍山
    362:重庆-重庆
    363:陕西
    364:陕西-咸阳
    365:陕西-商洛
    366:陕西-安康
    367:陕西-宝鸡
    368:陕西-延安
    369:陕西-榆林
    370:陕西-汉中
    371:陕西-渭南
    372:陕西-西安
    373:陕西-铜川
    374:青海
    375:青海-果洛藏族自治州
    376:青海-海东
    377:青海-海北藏族自治州
    378:青海-海南藏族自治州
    379:青海-海西蒙古族藏族自治州
    380:青海-玉树藏族自治州
    381:青海-西宁
    382:青海-黄南藏族自治州
    383:香港
    384:黑龙江
    385:黑龙江-七台河
    386:黑龙江-伊春
    387:黑龙江-佳木斯
    388:黑龙江-双鸭山
    389:黑龙江-哈尔滨
    390:黑龙江-大兴安岭地区
    391:黑龙江-大庆
    392:黑龙江-牡丹江
    393:黑龙江-绥化
    394:黑龙江-鸡西
    395:黑龙江-鹤岗
    396:黑龙江-黑河
    397:黑龙江-齐齐哈